@model Online_Store.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>



<h1> Are you sure you want to delete this categor?</h1>
<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <button type="submit"> Yes to delete </button>
</form>

<a href="/Index">Cancel</a>